* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-light: #fff;
  --secondary-light: #f0f1f1;
  --text-light: #111316;
  --primary-dark: #0d1116;
  --secondary-dark: #1e252d;
  --text-dark: #e2e1e1;
  --primary-red: #db1f1f;
  --secondary-red: #f94f4d;
  --tomato-red: #f86363;
  --light-red: #fb9696;
  --dark-red: #600808;
  --light-green: #00e97b;
  --dark-green: #396a47;
  --light-blue: #296cd4;
  --dark-blue: #1a4a96;
  --darker-blue: #0c2b5c;
  --yellow-color: #fbcd00;
  --orange-color: #ffa81f;
  --first-gray: #f1f1f1;
  --second-gray: #cccccf;
  --third-gray: #a5a5aa;
  --fourth-gray: #5c5c65;
  --fifth-gray: #3b3b42;
  --dark-gray: #1d1d21;
}

@font-face {
  font-family: "iranSans";
  src: url("../assets/fonts/IRANSansWeb\(FaNum\).ttf");
}

@font-face {
  font-family: "iranSansBold";
  src: url("../assets/fonts/IRANSansWeb\(FaNum\)_Bold.ttf");
}

@font-face {
  font-family: "iranSansBlack";
  src: url("../assets/fonts/IRANSansWeb\(FaNum\)_Black.ttf");
}

@font-face {
  font-family: "iranSansLight";
  src: url("../assets/fonts/IRANSansWeb\(FaNum\)_Light.ttf");
}

body {
  font-family: "iranSans";
  background-color: var(--secondary-light);
}

/* HEADER */
#header {
  height: 50px;
  background-color: var(--primary-dark);
  padding: 1.4em 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10000;
}

#header .header-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

#header .header-buttons .user-button {
  color: var(--text-dark);
  font-size: 25px;
  display: flex;
  align-items: center;
}

#header .header-buttons .toggle-theme-btn {
  background-color: transparent;
  border: none;
  color: var(--text-dark);
  font-size: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#header .header-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .header-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#header .header-social ul li a {
  color: var(--text-dark);
  font-size: 18px;
}

#header .header-social ul li a:hover {
  color: var(--secondary-red);
}

#header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

#header .navbar ul li {
  padding: 5px 10px;
}

#header .navbar ul li a {
  color: var(--text-dark);
  font-size: 15px;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

#header .navbar ul li button {
  color: var(--text-dark);
  font-size: 15px;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: "iranYekan";
  cursor: pointer;
}

#header .navbar ul li button:hover {
  color: var(--secondary-red);
}

#header .navbar ul li:first-child a {
  color: var(--secondary-red);
}

#header .navbar ul li a:hover {
  color: var(--secondary-red);
}

/* MEGA MENU */

.mega-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 15px 10%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -500px; /* Hidden by default */
  z-index: 100;
  background-color: var(--primary-light);
  width: 100%;
  opacity: 0; /* Initially invisible */
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition */
}

.mega-menu.open {
  top: 50px; /* Position when visible */
  opacity: 1; /* Fully visible */
}

#dropdown-btn i {
  transition: transform 0.3s ease-in-out; /* Smooth rotation */
}

#dropdown-btn i.rotated {
  transform: rotate(180deg); /* Rotate 180 degrees */
}

.mega-menu .mega-menu-box {
  padding: 30px;
}

.mega-menu .mega-menu-box h2 {
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.mega-menu .mega-menu-box .mega-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.mega-menu .mega-menu-box .mega-menu-nav li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--fifth-gray);
  transition: all ease-in-out 0.1s;
}

.mega-menu .mega-menu-box .mega-menu-nav li a:hover {
  color: var(--secondary-red);
}

.mega-menu .mega-menu-box .mega-menu-nav li a div h4 {
  font-size: 14px;
}

.mega-menu .mega-menu-box .mega-menu-nav li a div h5 {
  font-size: 11px;
  color: var(--third-gray);
  margin-top: 3px;
}

.mega-menu .mega-menu-box .mega-menu-nav li a i {
  width: 40px;
  height: 40px;
  background-color: var(--second-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-gray);
  border-radius: 15px;
  font-size: 15px;
  transition: all ease-in-out 0.1s;
}

.mega-menu .mega-menu-box .mega-menu-nav li a:hover i {
  background-color: var(--secondary-red);
}

/* TOP BANNER */
.featured-posts-content {
  width: 60%;
  position: absolute;
  right: 150px;
  color: var(--text-dark);
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(2%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.featured-posts-content h1 {
  font-family: "iranSansBlack";
  font-size: 27px;
}

.featured-posts-content p {
  font-size: 14px;
  line-height: 2.1;
  margin: 12px 0;
}

.top-ad-banner {
  /* padding: 0 10%; */
  /* margin-top: 20px; */
}

#app-wrapper {
  padding: 2em 14%;
}

/* Hot Posts */
#hot-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 10px;
}

#hot-posts .hot-posts-box {
  width: 100%;
  height: 200px;
  position: relative;
}

#hot-posts .hot-posts-box a {
  color: var(--text-dark);
}

#hot-posts .hot-posts-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  filter: brightness(60%);
  transition: all ease-in-out 0.1s;
}

#hot-posts .hot-posts-box img:hover {
  filter: brightness(90%) hue-rotate(45deg);
}

#hot-posts .hot-posts-box .hot-posts-details {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
}

#hot-posts .hot-posts-box .hot-posts-details h2 {
  font-size: 16px;
}
#hot-posts .hot-posts-box .hot-posts-details .hot-posts-details-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#hot-posts .hot-posts-box .hot-posts-details .hot-posts-details-buttons button {
  background-color: transparent;
  border: none;
  color: var(--text-dark);
  display: flex;
  grid-auto-flow: 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "iranSans";
}

#hot-posts
  .hot-posts-box
  .hot-posts-details
  .hot-posts-details-buttons
  button
  span {
  font-size: 13px;
}

#hot-posts
  .hot-posts-box
  .hot-posts-details
  .hot-posts-details-buttons
  button:hover {
  color: var(--tomato-red);
}

#hot-posts .hot-posts-box .hot-posts-details .hot-posts-details-buttons div {
  cursor: default;
  font-family: "iranSans";
}

/* TOP POSTS */
#posts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.side-posts {
  margin-top: 25px;
  height: fit-content;
  position: sticky;
  top: 10px;
}

.side-posts .side-posts-ad a img {
  border-radius: 12px;
}

.donge-offers-wrapper {
  margin-top: 20px;
}

.doneg-offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  gap: 10px;
}

.doneg-offers .doneg-offers-post-box {
  position: relative;
}

.doneg-offers .doneg-offers-post-box img {
  filter: brightness(50%);
  transition: all ease-in-out 0.1s;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.doneg-offers .doneg-offers-post-box:hover img {
  filter: brightness(100%) hue-rotate(10deg);
}

.doneg-offers .doneg-offers-post-box .doneg-offers-post-box-details {
  color: var(--text-dark);
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
}

.doneg-offers .doneg-offers-post-box .doneg-offers-post-box-details h2 {
  font-size: 15px;
  transition: all ease-in-out 0.1s;
  margin-bottom: 10px;
}

.doneg-offers .doneg-offers-post-box:hover .doneg-offers-post-box-details h2 {
  transform: translateX(3px);
}

/* MAIN POSTS */
.main-posts {
  margin-top: 25px;
}

.main-posts-top {
}

.main-posts-top .main-posts-top-box {
  position: relative;
}

.main-posts-top .main-posts-top-box img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  filter: brightness(60%);
  transition: all ease-in-out 0.1s;
}

.main-posts-top .main-posts-top-box:hover img {
  filter: brightness(120%) hue-rotate(45deg);
}

.main-posts-top .main-posts-top-box .main-posts-top-box-content {
  color: var(--primary-light);
  position: absolute;
  bottom: 30px;
  padding: 10px 25px;
}

.main-posts-top .main-posts-top-box .main-posts-top-box-content h2 {
  margin-bottom: 7px;
  transition: all ease-in-out 0.1s;
}

.main-posts-top .main-posts-top-box:hover .main-posts-top-box-content h2 {
  transform: translateX(2px);
}

/* Middle */

.main-posts-middle {
  margin-top: 30px;
}

.main-posts-middle-header {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.main-posts-middle-header .main-posts-middle-header-category a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--dark-gray);
  background-color: var(--primary-light);
  padding: 6px 17px;
  border-radius: 20px;
  font-size: 13px;
}

.main-posts-middle-header .main-posts-middle-header-category:first-child a {
  background-color: var(--dark-gray);
  color: var(--first-gray);
}

.main-posts-middle-header .main-posts-middle-header-category a i {
  font-size: 14px;
}

.main-posts-middle-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.main-posts-middle-body .main-posts-middle-body-box {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 10px;
  border-bottom: 1px solid var(--second-gray);
}

.main-posts-middle-body .main-posts-middle-body-box:last-child {
  border-bottom: none;
}

.main-posts-middle-body
  .main-posts-middle-body-box
  .main-posts-middle-body-box-image
  img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  transition: all ease-in-out 0.1s;
}

.main-posts-middle-body
  .main-posts-middle-body-box
  .main-posts-middle-body-box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.main-posts-middle-body .main-posts-middle-body-box:hover img {
  filter: brightness(110%) hue-rotate(45deg);
}

.main-posts-middle-body
  .main-posts-middle-body-box
  .main-posts-middle-body-box-content
  a {
  color: var(--dark-gray);
}

.main-posts-middle-body
  .main-posts-middle-body-box
  .main-posts-middle-body-box-content
  h2 {
  font-size: 17px;
}

.main-posts-middle-body
  .main-posts-middle-body-box
  .main-posts-middle-body-box-content
  p {
  font-size: 14px;
  line-height: 1.8;
}

.main-posts-middle-body-box-content-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 13px;
  cursor: default;
}

.main-posts-middle-body-box-content-bottom .gadgets-like {
  background-color: transparent;
  border: none;
  font-family: "iranSans";
  cursor: pointer;
}

.main-posts-middle-body-box-content-bottom .gadgets-like:hover {
  color: var(--secondary-red);
}

.side-posts-ad-second {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.side-posts-ad-second a img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.side-posts-ad-third a img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* BOTTOM POSTS */

.bottom-posts-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 80px;
  gap: 25px;
}

#bottom-posts {
}

.bottom-posts-main {
  height: fit-content;
  position: sticky;
  top: 30px;
}

.bottom-ad {
  margin: 25px 0;
}

#bottom-posts .bottom-posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 15px;
}

#bottom-posts .bottom-posts-container .bottom-posts-box {
  background-color: var(--primary-light);
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.1s;
}

#bottom-posts .bottom-posts-container .bottom-posts-box a {
  color: var(--primary-dark);
}

#bottom-posts .bottom-posts-container .bottom-posts-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px 12px 0 0;
  transition: all ease-in-out 0.1s;
}

#bottom-posts .bottom-posts-container .bottom-posts-box:hover img {
  filter: brightness(110%) hue-rotate(45deg);
}

#bottom-posts .bottom-posts-container .bottom-posts-box:hover {
  transform: translateX(1px);
}

#bottom-posts
  .bottom-posts-container
  .bottom-posts-box
  .bottom-posts-box-content {
  padding: 12px 25px;
}

#bottom-posts
  .bottom-posts-container
  .bottom-posts-box
  .bottom-posts-box-content
  h2 {
  font-size: 15px;
}

#bottom-posts
  .bottom-posts-container
  .bottom-posts-box
  .bottom-posts-box-content
  p {
  font-size: 14px;
}

.bottom-posts-side {
}

.bottom-posts-side .bottom-posts-side-ad {
  display: flex;
  gap: 10px;
}

.bottom-posts-side .bottom-posts-side-ad img {
  border-radius: 12px;
}

/* FOOTER */
#footer {
  background-color: var(--primary-light);
  margin-top: 100px;
}

#footer .footer-top {
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 0 35px;
  border-bottom: #e4e4e4 1px solid;
}

#footer .footer-top h3 {
  font-size: 15px;
}

#footer .footer-top .social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#footer .footer-top .social-footer li a {
  color: var(--fifth-gray);
  font-size: 25px;
}

#footer .footer-top .social-footer li a:hover {
  color: var(--primary-red);
}

#footer .footer-middle {
  padding: 50px 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
}

#footer .footer-middle .footer-middle-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#footer .footer-middle .footer-middle-section .footer-middle-section-header h3 {
  font-size: 15px;
  font-weight: 900;
}

#footer .footer-middle .footer-middle-section .footer-middle-section-box a {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  color: var(--dark-gray);
}

#footer .footer-middle .footer-middle-section .footer-middle-section-box h4 {
  font-size: 15px;
  font-family: "iranYekanBold";
}

#footer .footer-middle .footer-middle-section .footer-middle-section-box h5 {
  font-size: 11px;
  color: var(--third-gray);
}

#footer
  .footer-middle
  .footer-middle-section
  .footer-middle-section-box
  .box-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--first-gray);
}

#footer
  .footer-middle
  .footer-middle-section
  .footer-middle-section-box
  .box-image
  i {
  color: var(--dark-gray);
  font-size: 20px;
}

#footer .footer-description {
  padding: 40px 15%;
  margin: 0 25px;
  border-bottom: #e4e4e4 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer .footer-description img {
  padding-bottom: 20px;
}

#footer .footer-description p span {
  color: var(--secondary-red);
  font-family: "iranYekanBold";
}

#footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 13px;
}

.bottom-posts-side .bottom-doneit-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 10px;
}
.bottom-doneit-container .doneit-box {
}

.bottom-doneit-container .doneit-box a {
  color: var(--dark-gray);
}
.bottom-doneit-container .doneit-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.bottom-doneit-container .doneit-box h2 {
  font-size: 15px;
}

.bottom-doneit-container .doneit-box .post-gadgets .post-gadgets-like {
  color: var(--dark-gray);
}
