:root {
  --primary-light: #fff;
  --secondary-light: #f0f1f1;
  --text-light: #111316;
  --primary-dark: #0d1116;
  --secondary-dark: #1e252d;
  --text-dark: #e2e1e1;
  --primary-red: #db1f1f;
  --secondary-red: #f94f4d;
  --tomato-red: #f86363;
  --light-red: #fb9696;
  --dark-red: #600808;
  --light-green: #00e97b;
  --dark-green: #396a47;
  --light-blue: #296cd4;
  --dark-blue: #1a4a96;
  --darker-blue: #0c2b5c;
  --yellow-color: #fbcd00;
  --orange-color: #ffa81f;
  --first-gray: #f1f1f1;
  --second-gray: #cccccf;
  --third-gray: #a5a5aa;
  --fourth-gray: #5c5c65;
  --fifth-gray: #3b3b42;
  --dark-gray: #1d1d21;
}

@font-face {
  font-family: "iranYekan";
  src: url("../assets/fonts/iranyekanwebregular.ttf");
}
@font-face {
  font-family: "iranYekanBold";
  src: url("../assets/fonts/iranyekanwebextrabold.ttf");
}
@font-face {
  font-family: "iranYekanBlack";
  src: url("../assets/fonts/iranyekanwebextrablack.ttf");
}
@font-face {
  font-family: "iranYekanExtraBlack";
  src: url("../assets/fonts/iranyekanwebextrablack.ttf");
}
@font-face {
  font-family: "iranYekanThin";
  src: url("../assets/fonts/iranyekanwebthin.ttf");
}

.readmore {
  color: var(--text-dark);
  background-color: var(--secondary-red);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "iranYekanBold";
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section-header h3 {
  cursor: default;
}

.section-header h3,
.section-header a {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--fifth-gray);
}

.section-header a:hover {
  color: var(--secondary-red);
}

.post-gadgets {
  display: flex;
  gap: 18px;
  font-size: 14px;
  flex-wrap: wrap;
}

.post-gadgets .post-gadgets-like {
  background-color: transparent;
  border: none;
  color: var(--primary-light);
  font-family: "iranSans";
  font-size: 14px;
}

.side-posts-ad-wrapper {
  margin-top: 50px;
}

.side-posts-ad-wrapper button {
  background-color: transparent;
  border: none;
  color: var(--fourth-gray);
  cursor: pointer;
}

.ad-header button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 7px 0;
  font-family: "iranYekan";
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ad-header button {
  font-size: 13px;
}

.ad-header button i {
  font-size: 17px;
}

.ad-header button:hover {
  color: var(--primary-red);
}

/* HOT POSTS */
.main-hot {
}

.main-hot .hot-posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 15px;
}

.hot-header h2 {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.hot-posts-container .hot-posts-box {
  position: relative;
}

.hot-posts-container .hot-posts-box img {
  width: 100%;
  height: 200px;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(60%);
  transition: all ease-in-out 0.1s;
}

.hot-posts-container .hot-posts-box a {
  color: var(--first-gray);
}

.hot-posts-container .hot-posts-box a h3 {
  font-size: 16px;
}

.hot-posts-container .hot-posts-box .hot-posts-title {
  position: absolute;
  bottom: 10px;
  padding: 15px;
  transition: all ease-in-out 0.1s;
}

.hot-posts-container .hot-posts-box .hot-posts-title .hot-posts-details {
  display: flex;
  gap: 10px;
}

.hot-posts-container .hot-posts-box .hot-posts-title .hot-posts-details span {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.hot-posts-container .hot-posts-box a:hover img {
  filter: brightness(120%) hue-rotate(45deg);
}

.hot-posts-container .hot-posts-box a:hover .hot-posts-title {
  transform: translateX(-2px);
}
