:root {
  --primary-light: #fff;
  --secondary-light: #f0f1f1;
  --text-light: #111316;
  --primary-dark: #0d1116;
  --secondary-dark: #1e252d;
  --text-dark: #e2e1e1;
  --primary-red: #db1f1f;
  --secondary-red: #f94f4d;
  --tomato-red: #f86363;
  --light-red: #fb9696;
  --dark-red: #600808;
  --light-green: #00e97b;
  --dark-green: #396a47;
  --light-blue: #296cd4;
  --dark-blue: #1a4a96;
  --darker-blue: #0c2b5c;
  --yellow-color: #fbcd00;
  --orange-color: #ffa81f;
  --first-gray: #f1f1f1;
  --second-gray: #cccccf;
  --third-gray: #a5a5aa;
  --fourth-gray: #5c5c65;
  --fifth-gray: #3b3b42;
  --dark-gray: #1d1d21;
}

@font-face {
  font-family: "iranYekan";
  src: url("../assets/fonts/iranyekanwebregular.ttf");
}
@font-face {
  font-family: "iranYekanBold";
  src: url("../assets/fonts/iranyekanwebextrabold.ttf");
}
@font-face {
  font-family: "iranYekanBlack";
  src: url("../assets/fonts/iranyekanwebextrablack.ttf");
}
@font-face {
  font-family: "iranYekanExtraBlack";
  src: url("../assets/fonts/iranyekanwebextrablack.ttf");
}
@font-face {
  font-family: "iranYekanThin";
  src: url("../assets/fonts/iranyekanwebthin.ttf");
}

.readmore {
  color: var(--text-dark);
  background-color: var(--secondary-red);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "iranYekanBold";
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section-header h3 {
  cursor: default;
}

.section-header h3,
.section-header a {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--fifth-gray);
}

.section-header a:hover {
  color: var(--secondary-red);
}

.post-gadgets {
  display: flex;
  gap: 18px;
  font-size: 14px;
  flex-wrap: wrap;
}

.post-gadgets .post-gadgets-like {
  background-color: transparent;
  border: none;
  color: var(--primary-light);
  font-family: "iranSans";
  font-size: 14px;
}

.side-posts-ad-wrapper {
  margin-top: 50px;
}

.side-posts-ad-wrapper button {
  background-color: transparent;
  border: none;
  color: var(--fourth-gray);
  cursor: pointer;
}
