:root {
  --bg-color: #060818;
  --primary-color: #0e1726;
  --primary-blue: #4361ee;
  --secondary-blue: #152143;
  --primary-sky: #2196f3;
  --secondary-sky: #0b2f52;
  --primary-green: #00ab55;
  --secondary-green: #0c272b;
  --primary-yellow: #e2a03f;
  --secondary-yellow: #282625;
  --primary-red: #e7515a;
  --secondary-red: #2c1c2b;
  --primary-purple: #805dca;
  --secondary-purple: #1d1a3b;
  --primary-gray: #3b3f5c;
  --secondary-gray: #181e2e;
  --primary-light: #f0f0f0;
  --bg-light: #fff;
  --secondary-text: #848ca8;
}

.header-btn {
  font-size: 12px;
  color: var(--primary-light);
  cursor: pointer;
  border: none;
  outline: none;
}

.download-resume-btn {
  background-color: var(--primary-blue);
  padding: 5px 8px;
  border-radius: 6px;
}

.download-resume-btn:hover {
  background-color: #3452d4;
}

.hireme-btn {
  background-color: var(--primary-gray);
  padding: 5px 8px;
  border-radius: 6px;
}

.hireme-btn:hover {
  background-color: #2d3046;
}

.profile-btn {
  background-color: var(--secondary-sky);
  padding: 5px 8px;
  border-radius: 6px;
}

.profile-btn:hover {
  background-color: #0b253f;
}

/* FORMS */

.input-container input,
.input-container select,
.input-container textarea {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  outline: none;
  background-color: var(--bg-color);
  border: none;
  margin: 3px 0;
  color: var(--primary-text);
  border-right: solid 1px var(--primary-gray);
}

.input-container select {
  width: 100%;
}

.input-container textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

form input,
form textarea,
form select {
  font-family: "iranYekan";
}

/* MESSAGES */

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-green);
  background-color: var(--secondary-green);
  padding: 10px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-family: "iranYekanBold";
  gap: 10px;
  border-radius: 5px;
}

.success-message i {
  font-size: 17px;
}

.error-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-red);
  background-color: var(--secondary-red);
  padding: 10px;
  width: fit-content;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-family: "iranYekanBold";
  gap: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.error-message i {
  font-size: 17px;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 10px;
  font-size: 15px;
  border-right: 4px solid var(--primary-blue);
  padding-right: 6px;
  color: var(--primary-text);
}

/* SINGLE PROJECT */
.single-project-btn {
  color: var(--primary-light);
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: var(--primary-gray);
  padding: 7px 10px;
  border-radius: 5px;
}
.single-project-btn:hover {
  background-color: #2f324b;
}

.back-btn {
  color: var(--primary-sky);
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: var(--secondary-gray);
}

.back-btn:hover {
  background-color: #1f283f;
}

/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-top: 10px;
}

.pagination button {
  background-color: var(--primary-color);
  color: var(--primary-light);
  font-family: "iranYekan";
  border: 1px solid var(--primary-gray);
  padding: 6px 12px;
  cursor: pointer;
}

.pagination button:nth-child(2) {
  background-color: var(--primary-blue);
  color: var(--primary-light);
}

/* TOGGLE THEME BTN */
.toggle-theme-btn {
  background-color: transparent;
  border: none;
  color: var(--primary-light);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
